In [1]:
import pandas as pd
import numpy as np
import csv

In [11]:
industries = pd.read_csv("Industries.csv")
industries

   Ticker    Major_Industry             Industry
0     PPA         Aerospace  Aerospace & Defense
1    ACHR         Aerospace  Aerospace & Defense
2    JOBY         Aerospace  Aerospace & Defense
3     TXT         Aerospace  Aerospace & Defense
4    JETS         Aerospace  Aerospace & Defense
..    ...               ...                  ...
95   BEPC         Utilities            Utilities
96    XEL         Utilities            Utilities
97    EXC         Utilities            Utilities
98    XLE         Utilities            Utilities
99   ^VIX  Volatility Index     Volatility Index

[100 rows x 3 columns]

In [7]:
industries.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95',
       'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99',
       'Unnamed: 100', 'Unnamed: 101'],
      dtype='object', length=102)

In [13]:
industries.keys

<bound method NDFrame.keys of    Ticker    Major_Industry             Industry
0     PPA         Aerospace  Aerospace & Defense
1    ACHR         Aerospace  Aerospace & Defense
2    JOBY         Aerospace  Aerospace & Defense
3     TXT         Aerospace  Aerospace & Defense
4    JETS         Aerospace  Aerospace & Defense
..    ...               ...                  ...
95   BEPC         Utilities            Utilities
96    XEL         Utilities            Utilities
97    EXC         Utilities            Utilities
98    XLE         Utilities            Utilities
99   ^VIX  Volatility Index     Volatility Index

[100 rows x 3 columns]>

In [21]:
industries.columns

Index(['Ticker', 'Major_Industry', 'Industry'], dtype='object')

In [23]:
stock_prices = pd.read_csv("stock_prices.csv")
stock_prices

,Date,AAL,AAPL,ABT,ACHR,ADBE,AEP,AMGN,AMT,AMZN,...,XLE,XLF,XLY,XME,XOP,ZC=F,^FVX,^IRX,^TYX,^VIX
0,2000-01-03,NaN,0.842150,8.244912,NaN,16.274670,10.475498,43.905754,22.184847,4.468750,...,13.739206,11.262168,22.478334,NaN,NaN,NaN,6.457,5.270,6.598,24.209999
1,2000-01-04,NaN,0.771149,8.009346,NaN,14.909399,10.600450,40.548504,21.948326,4.096875,...,13.480579,10.769832,21.802130,NaN,NaN,NaN,6.396,5.270,6.532,27.010000
2,2000-01-05,NaN,0.782433,7.994615,NaN,15.204173,10.996149,41.943718,22.610573,3.487500,...,13.836184,10.685214,21.533966,NaN,NaN,NaN,6.489,5.270,6.631,26.410000
3,2000-01-06,NaN,0.714723,8.274361,NaN,15.328290,11.058633,42.641342,22.374058,3.278125,...,14.369591,11.154467,21.778809,NaN,NaN,NaN,6.450,5.240,6.572,25.730000
4,2000-01-07,NaN,0.748578,8.362696,NaN,16.072987,11.204405,47.437393,23.603920,3.478125,...,14.523146,11.339098,22.804785,NaN,NaN,NaN,6.397,5.220,6.537,21.719999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7563,2025-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7564,2025-04-07,9.710,181.460007,124.860001,6.6600,340.700012,101.570000,289.690002,213.389999,175.259995,...,78.250000,44.090000,180.630005,49.500000,106.250000,464.50,3.840,4.150,4.593,46.980000
7565,2025-04-08,9.070,172.419998,123.949997,6.4000,340.000000,101.279999,280.260010,204.660004,170.660004,...,76.440002,43.919998,176.339996,48.740002,101.910004,469.00,3.914,4.178,4.715,52.330002
7566,2025-04-09,11.120,198.850006,127.040001,7.4300,364.640015,102.349998,291.089996,207.479996,191.100006,...,82.360001,47.230000,195.539993,53.470001,113.739998,474.00,4.101,4.228,4.793,33.619999
7567,2025-04-10,10.145,194.195007,125.239998,7.0149,358.375000,103.838898,282.299988,212.669998,NaN,...,78.860001,46.400002,189.500000,51.834999,106.332497,480.25,3.979,4.197,4.774,36.070000

In [ ]:
stock_prices.