In [16]:
import pandas as pd
import numpy as np
import csv
import os
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy as sql
from sqlalchemy import inspect
from datetime import timedelta

In [4]:
stock_prices = pd.read_csv('stock_prices.csv')
stock_prices

,Date,AAL,AAPL,ABT,ACHR,ADBE,AEP,AMGN,AMT,AMZN,...,XLE,XLF,XLY,XME,XOP,ZC=F,^FVX,^IRX,^TYX,^VIX
0,2000-01-03,NaN,0.842150,8.244912,NaN,16.274670,10.475498,43.905754,22.184847,4.468750,...,13.739206,11.262168,22.478334,NaN,NaN,NaN,6.457,5.270,6.598,24.209999
1,2000-01-04,NaN,0.771149,8.009346,NaN,14.909399,10.600450,40.548504,21.948326,4.096875,...,13.480579,10.769832,21.802130,NaN,NaN,NaN,6.396,5.270,6.532,27.010000
2,2000-01-05,NaN,0.782433,7.994615,NaN,15.204173,10.996149,41.943718,22.610573,3.487500,...,13.836184,10.685214,21.533966,NaN,NaN,NaN,6.489,5.270,6.631,26.410000
3,2000-01-06,NaN,0.714723,8.274361,NaN,15.328290,11.058633,42.641342,22.374058,3.278125,...,14.369591,11.154467,21.778809,NaN,NaN,NaN,6.450,5.240,6.572,25.730000
4,2000-01-07,NaN,0.748578,8.362696,NaN,16.072987,11.204405,47.437393,23.603920,3.478125,...,14.523146,11.339098,22.804785,NaN,NaN,NaN,6.397,5.220,6.537,21.719999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7563,2025-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7564,2025-04-07,9.710,181.460007,124.860001,6.6600,340.700012,101.570000,289.690002,213.389999,175.259995,...,78.250000,44.090000,180.630005,49.500000,106.250000,464.50,3.840,4.150,4.593,46.980000
7565,2025-04-08,9.070,172.419998,123.949997,6.4000,340.000000,101.279999,280.260010,204.660004,170.660004,...,76.440002,43.919998,176.339996,48.740002,101.910004,469.00,3.914,4.178,4.715,52.330002
7566,2025-04-09,11.120,198.850006,127.040001,7.4300,364.640015,102.349998,291.089996,207.479996,191.100006,...,82.360001,47.230000,195.539993,53.470001,113.739998,474.00,4.101,4.228,4.793,33.619999
7567,2025-04-10,10.145,194.195007,125.239998,7.0149,358.375000,103.838898,282.299988,212.669998,NaN,...,78.860001,46.400002,189.500000,51.834999,106.332497,480.25,3.979,4.197,4.774,36.070000

In [6]:
percent_change = pd.read_csv("percent_change.csv")
percent_change

,Date,AAL,AAPL,ABT,ACHR,ADBE,AEP,AMGN,AMT,AMZN,...,XLE,XLF,XLY,XME,XOP,ZC=F,^FVX,^IRX,^TYX,^VIX
0,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,NaN,-0.084310,-0.028571,NaN,-0.083889,0.011928,-0.076465,-0.010661,-0.083217,...,-0.018824,-0.043716,-0.030083,NaN,NaN,NaN,-0.009447,0.000000,-0.010003,0.115655
2,2000-01-05,NaN,0.014633,-0.001839,NaN,0.019771,0.037329,0.034409,0.030173,-0.148741,...,0.026379,-0.007857,-0.012300,NaN,NaN,NaN,0.014540,0.000000,0.015156,-0.022214
3,2000-01-06,NaN,-0.086538,0.034992,NaN,0.008163,0.005682,0.016632,-0.010460,-0.060036,...,0.038552,0.043916,0.011370,NaN,NaN,NaN,-0.006010,-0.005693,-0.008898,-0.025748
4,2000-01-07,NaN,0.047369,0.010676,NaN,0.048583,0.013182,0.112474,0.054968,0.061010,...,0.010686,0.016552,0.047109,NaN,NaN,NaN,-0.008217,-0.003817,-0.005326,-0.155849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7563,2025-04-06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7564,2025-04-07,0.026427,-0.036734,0.003375,0.074194,-0.023978,-0.027852,-0.015965,-0.030794,0.024912,...,-0.006475,-0.002489,-0.011817,0.021040,-0.004311,0.009234,0.035319,-0.001203,0.046718,0.036857
7565,2025-04-08,-0.065911,-0.049818,-0.007288,-0.039039,-0.002055,-0.002855,-0.032552,-0.040911,-0.026247,...,-0.023131,-0.003856,-0.023750,-0.015354,-0.040847,0.009688,0.019271,0.006747,0.026562,0.113878
7566,2025-04-09,0.226020,0.153289,0.024929,0.160937,0.072471,0.010565,0.038643,0.013779,0.119770,...,0.077446,0.075364,0.108881,0.097046,0.116083,0.010661,0.047777,0.011967,0.016543,-0.357539
7567,2025-04-10,-0.087680,-0.023410,-0.014169,-0.055868,-0.017181,0.014547,-0.030197,0.025014,0.000000,...,-0.042496,-0.017574,-0.030889,-0.030578,-0.065127,0.013186,-0.029749,-0.007332,-0.003964,0.072873

In [8]:
percent_change.columns

Index(['Date', 'AAL', 'AAPL', 'ABT', 'ACHR', 'ADBE', 'AEP', 'AMGN', 'AMT',
       'AMZN',
       ...
       'XLE', 'XLF', 'XLY', 'XME', 'XOP', 'ZC=F', '^FVX', '^IRX', '^TYX',
       '^VIX'],
      dtype='object', length=101)

In [ ]:
percent_change.

In [12]:
tickers= pd.read_csv('Industries.csv')
tickers

   Ticker    Major_Industry             Industry
0     PPA         Aerospace  Aerospace & Defense
1    ACHR         Aerospace  Aerospace & Defense
2    JOBY         Aerospace  Aerospace & Defense
3     TXT         Aerospace  Aerospace & Defense
4    JETS         Aerospace  Aerospace & Defense
..    ...               ...                  ...
95   BEPC         Utilities            Utilities
96    XEL         Utilities            Utilities
97    EXC         Utilities            Utilities
98    XLE         Utilities            Utilities
99   ^VIX  Volatility Index     Volatility Index

[100 rows x 3 columns]

In [14]:
tickers.columns

Index(['Ticker', 'Major_Industry', 'Industry'], dtype='object')

In [24]:
percent_change.dtypes

Date     object
AAL     float64
AAPL    float64
ABT     float64
ACHR    float64
         ...
ZC=F    float64
^FVX    float64
^IRX    float64
^TYX    float64
^VIX    float64
Length: 101, dtype: object

In [30]:
stock_prices.dtypes

Date     object
AAL     float64
AAPL    float64
ABT     float64
ACHR    float64
         ...
ZC=F    float64
^FVX    float64
^IRX    float64
^TYX    float64
^VIX    float64
Length: 101, dtype: object

In [40]:
stock_prices.columns

Index(['Date', 'AAL', 'AAPL', 'ABT', 'ACHR', 'ADBE', 'AEP', 'AMGN', 'AMT',
       'AMZN',
       ...
       'XLE', 'XLF', 'XLY', 'XME', 'XOP', 'ZC=F', '^FVX', '^IRX', '^TYX',
       '^VIX'],
      dtype='object', length=101)

In [42]:
stock_prices['AAPL'].describe

<bound method NDFrame.describe of 0         0.842150
1         0.771149
2         0.782433
3         0.714723
4         0.748578
           ...
7563           NaN
7564    181.460007
7565    172.419998
7566    198.850006
7567    194.195007
Name: AAPL, Length: 7568, dtype: float64>